
@{
    ViewBag.Title = "SAS Details";
}

<p>
    This is a simple, open source tool for generating SAS tokens for event hub
    publishers. This site does not store any of the information entered.
</p>

@using (Html.BeginForm("create", "Sas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Shared Access Signature (SAS) Token Details</h4>
    <hr />

    <div class="form-group">
        @Html.Label("Namespace", "Service Namespace: ", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBox("Namespace","", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Path", "Serivce Path: ", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBox("Path", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("KeyName", "Key Name / Policy: ", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBox("KeyName", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Key", "Policy Key: ", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBox("Key", "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Expiration", "Expiration Date/Time: ", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBox("Expiration", "", new { @class = "form-control button-primary" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Generate SAS Token" class="btn btn-default" />
        </div>
    </div>
}